body {
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
}

ul {
    list-style-type: none;
}

.page {
    background-image: url('/Content/images/background.jpg');
    min-height: 100%;
}

.with-top-padding {
    padding-top: 10px;
}

.page .button.small.share {
    height: 2.3125rem;
    padding-top: 0.7rem;
    box-shadow: 1px 1px 5px #888888;
    background-color: #41B1FF;
}

#tags {
    width: 90%;
}

.page .spinner-loader {
    display: none;
}

#container ul li {
    width: 190px;
    height: 222px;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 3px;
}

    #container ul li img {
        max-width: 100%;
        max-height: 100%;
        margin: auto;
        display: block;
        padding-top: 8px;
    }

    #container ul li .source {
        font-size: 8px;
        position: absolute;
        margin-top: 6px;
        color: #fff;
    }


table {
    width: 100%;
}

@media only screen and (max-width: 40em) {
    #tags {
        width: 68%;
    }

    .page .spinner-loader {
        margin-right: 58px;
    }

    #container ul li {
        width: 100%;
    }
}
