@{
    ViewBag.Title = "Index";
}

<div class="row with-top-padding">
    <div class="medium-12 columns">

        <div class="row">
            <div class="medium-8 columns clearfix">
                @Html.TextBox("tags", null, new { placeholder = "Search Images", @class = "left" })
                <div class="spinner-loader right">
                    Loading…
                </div>
            </div>
            <div class="medium-4 columns clearfix">
                <a class="button share small radius right">Share...</a>
            </div>
        </div>

        <div class="row">
            <div class="medium-3 columns">
                <h5>Advance Options:</h5>
            </div>
            <div class="medium-3 columns left">
                <select id="flickerType" >
                    <option value="normalFlicker">Normal Flicker</option>
                    <option value="cachedFlicker">CachedFlicker</option>
                </select>
            </div>
        </div>

        <div>
            <a id="link" href=""></a>
        </div>


        <div id="container">
        </div>


    </div>
</div>

